<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Junior Quest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ACBE5A81D83A2D3007882F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACBE5BC1D83A2D3007882F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACBE5C71D83A2D3007882F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
